<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/8.5/phpunit.xsd"
         colors="true"
         bootstrap="vendor/autoload.php"
         executionOrder="depends,defects"
         stopOnFailure="false"
         beStrictAboutOutputDuringTests="false"
         verbose="true">
    <php>
      <const name="TEST_MODE" value="true"/>
      <const name="INPUT_TEST_FILE" value="testInput.txt"/>
    </php>
    <coverage>
        <include>
            <directory suffix=".php">src</directory>
        </include>
        <report>
            <cobertura outputFile="coverage.xml"/>
            <html outputDirectory="public_html"/>
        </report>
    </coverage>
    <logging>
        <junit outputFile="junit.xml"/>
    </logging>
    <testsuites>
        <testsuite name="Backend API">
            <directory suffix="Test.php">tests</directory>
        </testsuite>
    </testsuites>
</phpunit>
