<?xml version="1.0" encoding="UTF-8"?>
<phpunit  bootstrap="./vendor/autoload.php"
          colors="true"
          stopOnFailure="true">
    <testsuites>
      <testsuite name="Registration and Login">
        <directory>tests</directory>
      </testsuite>
    </testsuites>        
    <php>
      <const name="TEST_MODE" value="true"/>
      <const name="INPUT_TEST_FILE" value="testInput.txt"/>
   </php>
    <logging>
        <log type="coverage-clover" target="/tmp/coverage.xml" />
    </logging>
</phpunit>