@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
  font-family: 'Poppins', sans-serif;
}

.availableTile {
  height: 95px;
  max-height: 250px;
  padding: 0.5em 1em 1em 1em;
  text-align: center;
  align-self: center;
  border-radius: 0.8em;
  width: 40rem;
 
  /* display: fixed; */
  background-color: white;
  box-shadow: 50%;
  margin: 2%;
  background: white;
  border-radius: 1rem;
  text-align: center;
  padding:5em 2em;
  box-shadow:  0px 0px 10px gray;
  transition: .2s linear;
  position: relative;
  display: flex;
  flex-direction: row;
}
.availableName{
    font-weight: 700;
    font-size: 1.4em;
    margin-left: 5%;
    margin-top: 3%;
    top: 0;
    position: absolute;
}
.availablePrice{
    font-weight: 600;
    font-size: 1.4em;
    margin-left: 5%;
    margin-top: 10%;
    top: 0;
    position: absolute;
}



.avialbleTile:hover{
  outline-offset: 0rem;
  outline: var(--outline-hover);
  box-shadow:  0px 0px 30px white;
}

.imageholder {
    width: fit-content;
    height: fit-content;
    background-size: 'cover';
    border-radius: '1em';
}

.availableButtons{
    display: flex;
    flex-direction: row;
    position: absolute;
    bottom: 0;
    margin-left: 25.5%;
    margin-bottom: 8%;
    height: 20%;
    width: 70%;
}

.availableBtn{
    background-color: orangered;
    margin-left: 7.5%;
    margin-top: 5%;
    color: white;
    width: 50%;
    cursor: pointer;
    height: 100%;
    padding: 1%;
    border-radius: 0.5rem;
}
