::-webkit-scrollbar {
      width: 0px;
      background: transparent; /* make scrollbar transparent */
  }

  .divider {
    position: absolute;
    height: 80%;
    width: 0.105%;
    margin-left: 42%;
    margin-top: 7%;
    z-index: 100000;
    background: blue;
    background: linear-gradient(90deg, hsl(0, 0%, 20%), hsl(0, 0%, 70%), hsl(0, 0%, 20%));
  }

.cartArea{
    width: 65%;
    height: 90%;
    background-color: white;
    position: absolute;
    box-shadow:  0px 0px 25px #0CB4FB;
    border-radius: 2rem;
    top: 5%;
    left: 3%;
    overflow: hidden;
}

.templateArea{
    width: 28%;
    top:5%;
    border-radius: 2rem;
    height: 90%;
    background-color: white;
    position: absolute;
    box-shadow:  0px 0px 25px #0CB4FB;
    overflow: hidden;
    left: 70%;
}

.templateList{
    display: flex;
    top: 21%;
    height: 76%;
    width: 100%;
    position: absolute;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    scroll-behavior: smooth;
    overflow-y: auto;
    z-index: 0;
}

.cartList{
    display: flex;
    top: 19%;
    height: 78%;
    width: 100%;
    position: absolute;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
  scroll-behavior: smooth;
  overflow-y: auto;
  z-index: 0;
}

.cartInfo{
    width: 90%;
    height: 12%;
    top: 5%;
    left: 6%;
    position: absolute;
    display: flex;
    flex-direction: column;
}

.cartTotalPrice{
    color: black;
}

.CheckoutBtn{
    height: 90%;
    width: 19%;
    margin-top: 1%;
    border: none;
    outline: none;
    color: black;
    font-weight: 500;
    background: rgb(214, 213, 213);
    cursor: pointer;
    border-radius: 12px;
    letter-spacing: 1.15px;
}

.Auth-form-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    position: absolute;
  }
  
  .Auth-form {
    width: 370px;
    box-shadow: rgb(200 200 200 / 16%) 2px 2px 10px;
    margin-top: 2%;
    padding-top: 30px;
    position: absolute;
    padding-bottom: 20px;
    border-radius: 8px;
    background-color: white;
  }

  
  
  .btn btn-primary{
    background-color: #fff;
    position: absolute;
    top: 5%;
    left: 10%;
  }
  .Auth-form-content {
    padding-left: 12%;
    padding-right: 12%;
  }
  
  .Auth-form-title {
    text-align: center;
    margin-bottom: 1em;
    font-size: 24px;
    color: rgb(34, 34, 34);
    font-weight: 800;
  }
  
  .input:focus {
    outline: 3px solid transparent;
  }

.area{
    background: white;  
    background: -webkit-linear-gradient(to left, #8f94fb, #4e54c8);  
    width: 105%;
    height:120vh;
    
   
}

.circles{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.circles li{
    position: absolute;
    display: block;
    list-style: none;
    width: 20px;
    height: 20px;
    background: rgba(163, 161, 161, 0.2);
    animation: animate 25s linear infinite;
    bottom: -150px;
    
}

.circles li:nth-child(1){
    left: 25%;
    width: 80px;
    height: 80px;
    animation-delay: 0s;
}


.circles li:nth-child(2){
    left: 10%;
    width: 20px;
    height: 20px;
    animation-delay: 2s;
    animation-duration: 12s;
}

.circles li:nth-child(3){
    left: 70%;
    width: 20px;
    height: 20px;
    animation-delay: 4s;
}

.circles li:nth-child(4){
    left: 40%;
    width: 60px;
    height: 60px;
    animation-delay: 0s;
    animation-duration: 18s;
}

.circles li:nth-child(5){
    left: 65%;
    width: 20px;
    height: 20px;
    animation-delay: 0s;
}

.circles li:nth-child(6){
    left: 75%;
    width: 110px;
    height: 110px;
    animation-delay: 3s;
}

.circles li:nth-child(7){
    left: 35%;
    width: 150px;
    height: 150px;
    animation-delay: 7s;
}

.circles li:nth-child(8){
    left: 50%;
    width: 25px;
    height: 25px;
    animation-delay: 15s;
    animation-duration: 45s;
}

.circles li:nth-child(9){
    left: 20%;
    width: 15px;
    height: 15px;
    animation-delay: 2s;
    animation-duration: 35s;
}

.circles li:nth-child(10){
    left: 85%;
    width: 150px;
    height: 150px;
    animation-delay: 0s;
    animation-duration: 11s;
}



@keyframes animate {

    0%{
        transform: translateY(0) rotate(0deg);
        opacity: 1;
        border-radius: 0;
    }

    100%{
        transform: translateY(-1000px) rotate(720deg);
        opacity: 0;
        border-radius: 50%;
    }

}

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
  font-family: 'Poppins', sans-serif;
}

body{
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: #131313;
}

