@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
  font-family: 'Poppins', sans-serif;
}


.addButton{
    height: 20%;
    width: 90%;
    margin-top: 1%;
    border: none;
    outline: none;
    color: white;
    font-weight: 500;
    background: blue;
    cursor: pointer;
    border-radius: 12px;
    letter-spacing: 1.15px;
}
.cartgameTile {
    height: 225px;
    width: 100%;
    padding: 0.5em 1em 1em 1em;
    text-align: center;
    border-radius: 0.8em;
    box-shadow: -5px -5px 12px rgba(255, 255, 255, 0.7), 2px 2px 5px rgba(94, 104, 121, 0.3);
    max-width: 25em;
    display: fixed;
    background-color: white;
    box-shadow: 2%;
    margin: 2.5%;
}

.showButtons {
    width: inherit;
    height: inherit;
    background: rgba(195, 195, 195, 0.8);
    display: flex;
    flex-direction: row;
    font-size: 5vh;
    justify-content: space-around;
    transition: ease-in-out 500ms;
}

.buttonHolder {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.buttonHolder :hover {
    cursor: pointer;
}

.hideButtons {
    display: none;
}