@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
  font-family: 'Poppins', sans-serif;
}

.priceIcon{
    width: 3rem;
    height: 5rem;
    color: green;
    margin-left: -25%;
}

.RemoveIcon{
    width: 3rem;
    height: 3rem;
    color: red;
    cursor: pointer;
    position: absolute;
    bottom: 0px;
    margin-left: 78%;
    margin-bottom: 4%;
    
}

.cartItemCount{
    margin-top: 7.9%;
    font-weight: 700;
    margin-left: 40%;
}

.cartItemPrice{
    font-weight: 600;
    color: black;
    font-size: 2em;
    margin-top: 7%;
    margin-left: 2%;
}

.priceSection{
    display: flex;
    flex-direction: row;
    text-align: center;
    width: 90%;
    margin-left: 30%;
}

.cartItemTitle{
    font-weight: 600;
    color: black;
    font-size: 1.5em;
}

.addButton{
    height: 15%;
    width: 50%;
    bottom: 0px;
    position: absolute;
    color: white;
    font-weight: 600;
    font-size: 1.3em;
    /* box-shadow:  0px 0px 25px #CC7952; */
    background:  gray;
    cursor: pointer;
    text-align: center;
    align-self: center;
    margin-left: -25%;
    margin-bottom: 7%;
    border-radius: 12px;

    letter-spacing: 1.15px;
}
.cartgameTile {
    height: 325px;
    padding: 0.5em 1em 1em 1em;
    text-align: center;
    border-radius: 0.8em;
    box-shadow: 0px 0px 15px gray;
    width: 250px;
    display: flex;
    flex-direction: column;
    background-color: white;
    box-shadow: 2%;
    position: relative;
    margin: 2.5%;
}

.showButtons {
    width: inherit;
    height: inherit;
    background: rgba(195, 195, 195, 0.8);
    display: flex;
    flex-direction: row;
    font-size: 5vh;
    justify-content: space-around;
    transition: ease-in-out 500ms;
}

.buttonHolder {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.buttonHolder :hover {
    cursor: pointer;
}

.hideButtons {
    display: none;
}