@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
  font-family: 'Poppins', sans-serif;
}

.friendlistTile {
  height: 150px;
  max-height: 1000px;
  padding: 0.5em 1em 1em 1em;
  text-align: center;
  border-radius: 0.8em;
  width: 94%;
  max-width: 95%;
  display: fixed;
  background-color: white;
  box-shadow: 50%;
  margin: 1.25%;
  background: whitesmoke;
  border-radius: 2rem;
  text-align: center;
  padding:5rem 2rem;
  box-shadow:  0px 0px 10px gray;
  transition: .2s linear;
  position: relative;
  display: flex;
  flex-direction: row;
}
.friendlistName{
    font-weight: 700;
    font-size: 3.5em;
    margin-left: 2%;
    margin-top: 6.25%;
    top: 0;
    position: absolute;
}
.friendlistCount{
    font-weight: 600;
    font-size: 2em;
    margin-left: 2%;
    margin-top: 12%;
    top: 0;
    position: absolute;
}

.friendlistEnterIcon{
    height: 3em;
    margin-left: 70%;
    margin-top: 0%;
}

.friendlistEnterIconButton{
    height: 4em;
    width: 4em;
    color: white;
    cursor: pointer;
}

.friendlistTile:hover{
  outline-offset: 0rem;
  outline: var(--outline-hover);
  box-shadow:  0px 0px 30px white;
}

.friendlistTile .imageholder {
    width: fit-content;
    height: fit-content;
    background-size: 'cover';
    border-radius: '1em';

}
