@import url('https://fonts.googleapis.com/css?family=Exo:400,700');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600&display=swap');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css');
@import url('https://unpkg.com/swiper@7/swiper-bundle.min.css');

.shoppinglist {
    width: 103%;
    height: 90%;
    position: absolute;
    top: 8%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    scroll-behavior: smooth;
    overflow-y: scroll;
}

.homearea{
    background: white;  
    background: -webkit-linear-gradient(to left, #8f94fb, #4e54c8);  
    width: 100%;
    height:100%;
    position: absolute;
    z-index: -2;
}

.homecircles{
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -2;
    overflow: hidden;
    background: white;  
}

.homecircles li{
    position: absolute;
    display: block;
    list-style: none;
    width: 20px;
    height: 20px;
    background: rgba(10, 10, 10, 0.2);
    animation: animate 25s linear infinite;
    bottom: -100px;
    overflow: hidden;
    
}

.homecircles li:nth-child(1){
    left: 25%;
    width: 80px;
    height: 80px;
    animation-delay: 0s;
}


.homecircles li:nth-child(2){
    left: 10%;
    width: 20px;
    height: 20px;
    animation-delay: 2s;
    animation-duration: 12s;
}

.homecircles li:nth-child(3){
    left: 70%;
    width: 20px;
    height: 20px;
    animation-delay: 4s;
}

.homecircles li:nth-child(4){
    left: 40%;
    width: 60px;
    height: 60px;
    animation-delay: 0s;
    animation-duration: 18s;
}

.homecircles li:nth-child(5){
    left: 65%;
    width: 20px;
    height: 20px;
    animation-delay: 0s;
}

.homecircles li:nth-child(6){
    left: 75%;
    width: 110px;
    height: 110px;
    animation-delay: 3s;
}

.homecircles li:nth-child(7){
    left: 35%;
    width: 150px;
    height: 150px;
    animation-delay: 7s;
}

.homecircles li:nth-child(8){
    left: 50%;
    width: 25px;
    height: 25px;
    animation-delay: 15s;
    animation-duration: 45s;
}

.homecircles li:nth-child(9){
    left: 20%;
    width: 15px;
    height: 15px;
    animation-delay: 2s;
    animation-duration: 35s;
}

.homecircles li:nth-child(10){
    left: 85%;
    width: 150px;
    height: 150px;
    animation-delay: 0s;
    animation-duration: 11s;
}

.home{
  display: flex;
  align-items: center;
  justify-content: center;
  background: url(./image/banner-bg.webp) no-repeat;
  background-position: center;
  background-size: cover;
  width: 200%;;
  padding-top: 17rem;
  padding-bottom: 10rem;
}

.home .content{
  text-align: center;
  width:60rem;
}

.home .content h3{
  color:var(--black);
  font-size: 3rem;
}

.home .content h3 span{
  color:var(--orange);
}

.home .content p{
  color:var(--light-color);
  font-size: 1.7rem;
  padding:1rem 0;
  line-height: 1.8;
}



@keyframes animate {

    0%{
        transform: translateY(0) rotate(0deg);
        opacity: 1;
        border-radius: 0;
    }

    100%{
        transform: translateY(-1000px) rotate(720deg);
        opacity: 0;
        border-radius: 50%;
    }

}

.Auth-form-container-home {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  position: absolute;
  overflow: hidden;
}

.input:focus {
  outline: 3px solid transparent;
}

label {
  font-size: 14px;
  font-weight: 600;
  color: rgb(34, 34, 34);
}

.title {
  font-size: 10vw;
  color: white;
}

/* general styling */
@font-face {
  font-family: "SanFrancisco";
  src:
    url("https://cdn.rawgit.com/AllThingsSmitty/fonts/25983b71/SanFrancisco/sanfranciscodisplay-regular-webfont.woff2") format("woff2"),
    url("https://cdn.rawgit.com/AllThingsSmitty/fonts/25983b71/SanFrancisco/sanfranciscodisplay-regular-webfont.woff") format("woff");
}



h1 {
  font-weight: normal;
  margin-bottom: 0.5rem;
}

h2 {
  border-bottom: 1px solid #e5e5ea;
  color: #666;
  font-weight: normal;
  margin-top: 0;
  padding-bottom: 1.5rem;
}

@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}


@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
 .icons div{
  height: 4.5rem;
  width: 4.5rem;
  line-height: 4.5rem;
  border-radius: .5rem;
  background: #eee;
  color:var(--black);
  font-size: 2rem;
  margin-left: .3rem;
  cursor: pointer;
  text-align: center;
  transform: translate(1200%, 12%);
}

 .icons div:hover{
  background: var(--black);
  color:#fff;
}
.navMenu {
  position: absolute;
  top: 2%;
  
  background: white;  
  width: 90%;
  height: 9%;
  overflow: hidden;
  align-items: center;
  align-content: center;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-30%, -50%);
}
  .logo{
  font-size: 2rem;
  font-weight: bolder;
  color:var(--black);
  transform: translate(0%, -110%);
}

 .logo i{
  color:var(--orange);
}
.navMenu a {
  color: black;
  background-color: white; 
  text-decoration: none;
  font-size: 1.2em;
  text-transform: uppercase;
  font-weight: 500;
  align-items: center;
  display: inline-block;
  width: 80px;
  padding: 1%;
  margin: 2%;
  margin-left: 10%;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.navMenu a:hover {
  background-color: white; 
  color: red;
}



.navMenu a:nth-child(1):hover ~ .dot {
  -webkit-transform: translateX(30px);
  transform: translateX(30px);
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  opacity: 1;
}

.navMenu a:nth-child(2):hover ~ .dot {
  -webkit-transform: translateX(110px);
  transform: translateX(110px);
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  opacity: 1;
}

.navMenu a:nth-child(3):hover ~ .dot {
  -webkit-transform: translateX(200px);
  transform: translateX(200px);
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  opacity: 1;
}

.navMenu a:nth-child(4):hover ~ .dot {
  -webkit-transform: translateX(285px);
  transform: translateX(285px);
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  opacity: 1;
}
