@import url('https://fonts.googleapis.com/css?family=Exo:400,700');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600&display=swap');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css');
@import url('https://unpkg.com/swiper@7/swiper-bundle.min.css');

.btn{
  margin-top: 1rem;
  display: inline-block;
  padding:.8rem 3rem;
  font-size: 1rem;
  border-radius: .3rem;
  border:.2rem solid var(--black);
  color:var(--black);
  cursor: pointer;
  background: none;
}

.btn:hover{
  background: var(--orange);
  color:#fff;
}
.icons div{
  height: 4.5rem;
  width: 4.5rem;
  line-height: 4.5rem;
  border-radius: .5rem;
  background: black;
  color:var(--black);
  font-size: 2rem;
  margin-left: .3rem;
  cursor: pointer;
  text-align: center;
  transform: translate(1200%, 12%);
}

 .icons div:hover{
  background: var(--black);
  color:#fff;
}

.Auth-form-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: max-content;
    top: 0;
    left: 0;
    position: absolute;
    overflow: hidden;
  }
  
  .Auth-form {
    width: 370px;
    box-shadow: rgb(200 200 200 / 16%) 2px 2px 10px;
    margin-top: 2%;
    padding-top: 30px;
    position: absolute;
    padding-bottom: 20px;
    border-radius: 8px;
    background-color: white;
  }

  
  
  .btn btn-primary{
    background-color: #fff;
    position: absolute;
    top: 5%;
    left: 10%;
  }
  .Auth-form-content {
    padding-left: 12%;
    padding-right: 12%;
  }
  
  .Auth-form-title {
    text-align: center;
    margin-bottom: 1em;
    font-size: 24px;
    color: rgb(34, 34, 34);
    font-weight: 800;
  }
  
  .input:focus {
    outline: 3px solid transparent;
  }

  .Proarea{
    background: white;  
    background: -webkit-linear-gradient(to left, #8f94fb, #4e54c8);  
    width: 100%;
    height:100%;
    position: absolute;
    z-index: -2;
}

.Procircles{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    
}

.Procircles li{
    position: absolute;
    display: block;
    list-style: none;
    width: 20px;
    height: 20px;
    background: rgba(15, 15, 15, 0.2);
    animation: animate 25s linear infinite;
    bottom: -150px;
    
}

.Procircles li:nth-child(1){
    left: 25%;
    width: 80px;
    height: 80px;
    animation-delay: 0s;
}


.Procircles li:nth-child(2){
    left: 10%;
    width: 20px;
    height: 20px;
    animation-delay: 2s;
    animation-duration: 12s;
}

.Procircles li:nth-child(3){
    left: 70%;
    width: 20px;
    height: 20px;
    animation-delay: 4s;
}

.Procircles li:nth-child(4){
    left: 40%;
    width: 60px;
    height: 60px;
    animation-delay: 0s;
    animation-duration: 18s;
}

.Procircles li:nth-child(5){
    left: 65%;
    width: 20px;
    height: 20px;
    animation-delay: 0s;
}

.Procircles li:nth-child(6){
    left: 75%;
    width: 110px;
    height: 110px;
    animation-delay: 3s;
}

.Procircles li:nth-child(7){
    left: 35%;
    width: 150px;
    height: 150px;
    animation-delay: 7s;
}

.Procircles li:nth-child(8){
    left: 50%;
    width: 25px;
    height: 25px;
    animation-delay: 15s;
    animation-duration: 45s;
}

.Procircles li:nth-child(9){
    left: 20%;
    width: 15px;
    height: 15px;
    animation-delay: 2s;
    animation-duration: 35s;
}

.Procircles li:nth-child(10){
    left: 85%;
    width: 150px;
    height: 150px;
    animation-delay: 0s;
    animation-duration: 11s;
}



@keyframes animate {

    0%{
        transform: translateY(0) rotate(0deg);
        opacity: 1;
        border-radius: 0;
    }

    100%{
        transform: translateY(-1000px) rotate(720deg);
        opacity: 0;
        border-radius: 50%;
    }

}

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
  font-family: 'Poppins', sans-serif;
}

body{
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 50vh;
  background: #131313;
}

.profileArea{
    position: absolute;
    width: 100%;
    height: 50%;
}

.card{
  position: absolute;
  width: 17%;
  height: 7%;
  top: 8%;
  left: 80%;
  color: white;
  z-index: 200;
  background: black;
  border-radius: 20px;
  overflow: hidden;
}

.card:after{
  position: absolute;
  top: 6%;
  font-size: 12em;
  font-weight: 800;
  background: white;
  color: black;
}

.card .contentBx{
  position: absolute;
  width: 100%;
  height: 100px;
  text-align: center;
  transition: 1s;
  z-index: 10;
}

 .card:hover .contentBx{
  height: 10%;
  top: 5%;
}

.card:hover {
    height: 550px;
    top: 8%;
    overflow-y: scroll;
    background: white;
    transition: 0.7s ease-in-out;
}

.card .contentBx h2{
  position: relative;
  color: white;
  font-size: 22px;
  margin-top: 4%;
  letter-spacing: 1px;
}

 .card:hover .contentBx h2{
  position: relative;
  padding: 2%;
  font-weight: bolder;
  color: black;
  font-size: 22px;
}

.card:hover .contentBx h3{
  position: relative;
  font-weight: bolder;
  color: black;
  font-size: 22px;
}

 .card .contentBx .size, .card .contentBx .color {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 8px 20px;
  transition: 0.5s;
  opacity: 0;
  visibility: hidden;
  padding-top: 0;
  padding-bottom: 0;
}

 .card:hover .contentBx .size{
  opacity: 1;
  visibility: visible;
  transition-delay: 0.5s;
}

.card:hover .contentBx .color{
  opacity: 1;
  visibility: visible;
  transition-delay: 0.6s;
}

.card .contentBx .size h3, .container .card .contentBx .color h3{
  color: black;
  font-weight: 300;
  font-size: 14px;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin-right: 10px;
}

 .card:hover .contentBx .size h3, .container .card .contentBx .color h3{
  color: black;
  font-weight: 300;
  font-size: 14px;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin-right: 10px;
}

.cartBtn{
  position: absolute;
  width: 8%;
  height: 7%;
  top: 8%;
  z-index: 200;
  left: 70%;
  cursor: pointer;
}
.cartBtn a{
  font-size: 19px;
  margin-top: 50%;
  letter-spacing: 1px;
  transform-style: preserve-3d;
  transform: translateZ(-25px);
  transition: transform .25s;
  font-family: 'Poppins', sans-serif;
  
}
.cartBtn a:before,
.cartBtn a:after{
  position: absolute;
  content: "Cart";
  height: 100%;
  width: 100%;
  display: flex;
  color: white;
  background: black;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  border-radius: 20px;
}


.sec-center {
  position: absolute;
  height: 7%;
  width: 16%;
  max-width: 18%;
  top: 7.55%;
  left: 52%;
  z-index: 200;
}

.sec-center-sort {
  position: absolute;
  height: 7%;
  width: 16%;
  max-width: 18%;
  top: 7.55%;
  left: 34%;
  z-index: 200;
}
[type="checkbox"]:checked,
[type="checkbox"]:not(:checked){
  position: absolute;
  left: -9999px;
  opacity: 0;
  pointer-events: none;
}
.dark-light:checked + label,
.dark-light:not(:checked) + label{
  position: fixed;
  top: 40px;
  right: 40px;
  z-index: 20000;
  display: block;
  border-radius: 50%;
  width: 15%;
  height: 15%;
  cursor: pointer;
  transition: all 200ms linear;
  box-shadow: 0 0 25px rgba(255,235,167,.45);
}
.dark-light:checked + label{
  transform: rotate(360deg);
}
.dark-light:checked + label:after,
.dark-light:not(:checked) + label:after{
  position: absolute;
  content: '';
  top: 1px;
  left: 1px;
  overflow: hidden;
  z-index: 2;
  display: block;
  border-radius: 50%;
  width: 44px;
  height: 44px;
  background-color: #102770;
  background-image: url('https://assets.codepen.io/1462889/moon.svg');
  background-size: 20px 20px;
  background-repeat: no-repeat;
  background-position: center;
  transition: all 200ms linear;
  opacity: 0;
}
.dark-light:checked + label:after {
  opacity: 1;
}
.dark-light:checked + label:before,
.dark-light:not(:checked) + label:before{
  position: absolute;
  content: '';
  top: 0;
  left: 0;
  overflow: hidden;
  z-index: 1;
  display: block;
  border-radius: 50%;
  width: 46px;
  height: 46px;
  background-color: #48dbfb;
  background-image: url('https://assets.codepen.io/1462889/sun.svg');
  background-size: 25px 25px;
  background-repeat: no-repeat;
  background-position: center;
  transition: all 200ms linear;
}
.dark-light:checked + label:before{
  background-color: #000;
}
.light-back{
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  background-color: #fff;
  overflow: hidden;
  background-image: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/1462889/pat-back.svg');
  background-position: center;
  background-repeat: repeat;
  background-size: 4%;
  height: 100%;
  width: 100%;
  transition: all 200ms linear;
  opacity: 0;
}
.dark-light:checked ~ .light-back{
  opacity: 1;
}
.dropdown:checked + label,
.dropdown:not(:checked) + label{
  position: relative;
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  font-size: 19px;
  line-height: 2;
  height: 100%;
  top: 7%;
  transition: all 200ms linear;
  width: 100%;
  letter-spacing: 1px;
  display: -webkit-inline-flex;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  -ms-justify-content: center;
  justify-content: center;
  -ms-flex-pack: center;
  text-align: center;
  border: none;
  background-color: black;
  cursor: pointer;
  color: white;
  border-radius: 20px;
}
.dark-light:checked ~ .sec-center .for-dropdown{
  background-color: #102770;
  color: white;
  box-shadow: 0 12px 35px 0 rgba(16,39,112,.25);
}
.dropdown:checked + label:before,
.dropdown:not(:checked) + label:before{
  position: fixed;
  top: 0;
  left: 0;
  content: '';
  width: 100%;
  height: 100%;
  z-index: -1;
  cursor: auto;
  pointer-events: none;
}
.dropdown:checked + label:before{
  pointer-events: auto;
}
.dropdown:not(:checked) + label .uil {
  font-size: 24px;
  margin-left: 10px;
  transition: transform 200ms linear;
}
.dropdown:checked + label .uil {
  transform: rotate(180deg);
  font-size: 24px;
  margin-left: 10px;
  transition: transform 200ms linear;
}
.section-dropdown {
  position: absolute;
  padding: 5px;
  background-color: #111;
  top: 70px;
  left: 0;
  width: 100%;
  border-radius: 4px;
  display: block;
  box-shadow: 0 14px 35px 0 rgba(9,9,12,0.4);
  z-index: 2;
  opacity: 0;
  pointer-events: none;
  transform: translateY(20px);
  transition: all 200ms linear;
}

.section-dropdown-sort {
  position: absolute;
  padding: 5px;
  background-color: #111;
  top: 70px;
  left: 0;
  width: 100%;
  border-radius: 4px;
  display: block;
  box-shadow: 0 14px 35px 0 rgba(9,9,12,0.4);
  z-index: 2;
  opacity: 0;
  pointer-events: none;
  transform: translateY(20px);
  transition: all 200ms linear;
}
.dark-light:checked ~ .sec-center .section-dropdown {
  background-color: #fff;
  box-shadow: 0 14px 35px 0 rgba(9,9,12,0.15);
}
.dropdown:checked ~ .section-dropdown{
  opacity: 1;
  pointer-events: auto;
  transform: translateY(0);
}
.section-dropdown:before {
  position: absolute;
  top: -20px;
  left: 0;
  width: 100%;
  height: 20px;

  content: '';
  display: block;
  z-index: 1;
}
.section-dropdown:after {
  position: absolute;
  top: -7px;
  left: 30px;
  width: 0; 
  height: 0; 
  border-left: 8px solid transparent;
  border-right: 8px solid transparent; 
  border-bottom: 8px solid #111;
  content: '';
  display: block;
  z-index: 2;
  transition: all 200ms linear;
}
.dark-light:checked ~ .sec-center .section-dropdown:after {
  border-bottom: 8px solid #fff;
}


.sec-center-sort a {
  position: relative;
  color: #fff;
  background-color: white;
  transition: all 200ms linear;
  font-family: 'Poppins', sans-serif;
  font-size: 15px;
  border-radius: 2px;
  padding: 5px 0;
  padding-left: 20px;
  padding-right: 15px;
  margin: 2px 0;
  text-align: left;
  text-decoration: none;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  align-items: center;
  justify-content: space-between;
}

.sec-center a {
  position: relative;
  color: #fff;
  background-color: white;
  transition: all 200ms linear;
  font-family: 'Poppins', sans-serif;
  font-size: 15px;
  border-radius: 2px;
  padding: 5px 0;
  padding-left: 20px;
  padding-right: 15px;
  margin: 2px 0;
  text-align: left;
  text-decoration: none;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  align-items: center;
  justify-content: space-between;
    -ms-flex-pack: distribute;
}
.dark-light:checked ~ .sec-center .section-dropdown a {
  color: black;
}
a:hover {
  color: black;
  background-color: white;
}
.dark-light:checked ~ .sec-center .section-dropdown a:hover {
  color: white;
  background-color: black;
}
a .uil {
  font-size: 22px;
}
.dropdown-sub:checked + label,
.dropdown-sub:not(:checked) + label{
  position: relative;
  color: #fff;
  transition: all 200ms linear;
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  font-size: 15px;
  border-radius: 2px;
  padding: 5px 0;
  padding-left: 20px;
  padding-right: 15px;
  text-align: left;
  text-decoration: none;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  align-items: center;
  justify-content: space-between;
    -ms-flex-pack: distribute;
    cursor: pointer;
}
.dropdown-sub:checked + label .uil,
.dropdown-sub:not(:checked) + label .uil{
  font-size: 22px;
}
.dropdown-sub:not(:checked) + label .uil {
  transition: transform 200ms linear;
}
.dropdown-sub:checked + label .uil {
  transform: rotate(135deg);
  transition: transform 200ms linear;
}
.dropdown-sub:checked + label:hover,
.dropdown-sub:not(:checked) + label:hover{
  color: black;
  background-color: white;
}
.dark-light:checked ~ .sec-center .section-dropdown .for-dropdown-sub{
  color: black;
}
.dark-light:checked ~ .sec-center .section-dropdown .for-dropdown-sub:hover{
  color: white;
  background-color: black;
}

.section-dropdown-sub {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100px;
  overflow-y: scroll;
  pointer-events: none;
  opacity: 0;
  max-height: 0;
  padding-left: 10px;
  padding-right: 3px;
  
  transition: all 200ms linear;
}
.dropdown-sub:checked ~ .section-dropdown-sub{
  pointer-events: auto;
  opacity: 1;
  max-height: 999px;
}
.section-dropdown-sub a {
  font-size: 14px;
}
.section-dropdown-sub a .uil {
  font-size: 20px;
}
.logo {
	position: fixed;
	top: 50px;
	left: 40px;
	display: block;
	z-index: 11000000;
  background-color: transparent;
  border-radius: 0;
  padding: 0;
	transition: all 250ms linear;
}
.logo:hover {
  background-color: transparent;
}
.logo img {
	height: 26px;
	width: auto;
	display: block;
  transition: all 200ms linear;
}
.dark-light:checked ~ .logo img{
  filter: brightness(10%);
}

@media screen and (max-width: 991px) {
.logo {
	top: 30px;
	left: 20px;
}
.dark-light:checked + label,
.dark-light:not(:checked) + label{
  top: 20px;
  right: 20px;
}
}

.shoppableItems {
  width: 100%;
  height: 80%;
  position: absolute;
  top: 18%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
  scroll-behavior: smooth;
  overflow-y: scroll;
  z-index: 0;
}

.editProfileBtn{
  position: absolute;
  height: 50%;
  width: 90%;
  margin-left: 5%;
  display: flex;
  color: white;
  background: black;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  border-radius: 20px;
}
.home{
  display: flex;
  align-items: center;
  justify-content: center;
  background: url(./image/banner-bg.webp) no-repeat;
  background-position: center;
  background-size: cover;
  width: 200%;;
  padding-top: 17rem;
  padding-bottom: 10rem;
}

.home .content{
  text-align: center;
  width:60rem;
}

.home .content h3{
  color:var(--black);
  font-size: 3rem;
}

.home .content h3 span{
  color:var(--orange);
}

.home .content p{
  color:var(--light-color);
  font-size: 1.7rem;
  padding:1rem 0;
  line-height: 1.8;
}
