@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
  font-family: 'Poppins', sans-serif;
}


.toaster{
    background: green;
    color: #fff;
    background-color: #fff;
    font-size: 20px;
    width: 200px;
    max-width: 200px;
    height: 90px;
    padding: 30px 20px;
    box-shadow: white;
    border: none;
    border-style: dashed;
}

.InfoButton{
    height: 200px;
    width: 30px;
    max-width: 25px;
    margin: 1%;
    position: absolute;
    bottom: -75px;
    text-align: center;
    left: 85%;
    cursor: pointer;
}

.addProfileButton{
    height:30px;
    width:33%;
    bottom:50px;
    border: white;
    z-index: 1000;
    outline: none;
    color: white;
    position: absolute;
    background: orangered;
    cursor: pointer;
    font-weight: 700;
    border-radius: 25px;
    right: 20px;
    letter-spacing: 1.15px;
}
.addProfileButton h3{
  font-size: 1em;
  font-weight: 500;
  margin-top: 5%;
}

.btn{
  margin-top: 1rem;
  display: inline-block;
  padding:.8rem 3rem;
  font-size: 1rem;
  border-radius: .3rem;
  border:.2rem solid var(--black);
  color:var(--black);
  cursor: pointer;
  background: none;
}

.btn:hover{
  background: var(--orange);
  color:#fff;
}

.templateProfileButton{
  height:30px;
  width:48%;
  bottom:50px;
  left: 20px;
  border: none;
  outline: none;
  position: absolute;
  background-color:  orangered;
  color: white;
  cursor: pointer;
  border-radius: 25px;
  letter-spacing: 1.15px;
}

.templateProfileButton h3{
  font-size: 1.1em;
  font-weight: 500;
  margin-top: 4%;

}

.Title{
    margin-top: -1.5%;
}

.Tile {
  height: 450px;
  max-height: 380px;
  padding: 0.5em 1em 1em 1em;
  text-align: center;
  border-radius: 0.8em;
  width: 300px;
  max-width: 250px;
  display: fixed;
  background-color: white;
  box-shadow: 50%;
  margin: 2.5%;
  background: whitesmoke;
  border-radius: 2rem;
  text-align: center;
  padding:3rem 2rem;
  box-shadow:  0px 0px 30px gray;
  transition: .2s linear;
  position: relative;
}
.Tile:hover{
  outline-offset: 0rem;
  outline: var(--outline-hover);
  box-shadow:  0px 0px 30px white;
}

.imageholder {
    width: fit-content;
    height: fit-content;
    background-size: 'cover';
    border-radius: '1em';

}

.PopupInfoContent{
    width:400px;
    max-width: 250px;
    margin: 2%;
    height:150px;
    border-radius: 10%; 
}

.modal {
    font-size: 1200px;
    background-color: black;
    color: aqua;
  }
  .modal .header {
    width: 100%;
    border-bottom: 1px solid gray;
    font-size: 18px;
    text-align: center;
    padding: 5px;
  }
  .modal .content {
    width: 100%;
    height: 500px;
    padding: 10px 5px;
  }
  .modal .actions {
    width: 100%;
    padding: 10px 5px;
    margin: auto;
    text-align: center;
  }
  .modal .close {
    cursor: pointer;
    position: absolute;
    display: block;
    padding: 2px 5px;
    line-height: 20px;
    right: -10px;
    top: -10px;
    font-size: 24px;
    
    border-radius: 18px;
    border: 1px solid #cfcece;
  }