@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
  font-family: 'Poppins', sans-serif;
}

.templateRemoveIcon{
  width: 5rem;
  height: 2.25rem;
  color: red;
  cursor: pointer;
  bottom: 0px;
  margin-left: 37%;
  /* margin-left: 25%; */
  margin-bottom: 5%;
}

.templateItemTitle{
  font-weight: 600;
    color: black;
    margin-top: 3.5%;
    font-size: 1.6em;
}

.templatePriceIconButton{
    width: 5rem;
    height: 2.5rem;
    color: green;
}

.templatePriceSection{
  display: flex;
  flex-direction: row;
  /* margin-left: 25%; */
}

.templateItemPrice{
  font-weight: 600;
  /* margin-left: -5%; */
  margin-top: 1.2%;
}

.addButtontemplate{
    height: 25%;
    width: 90%;
    margin-top: 1%;
    border: none;
    outline: none;
    color: white;
    font-weight: 500;
<<<<<<< HEAD
    background: gray;
=======
    background: #0CB4FB;
>>>>>>> 585ea147173b5343f2741c0e18aa8425353c4c3e
    cursor: pointer;
    border-radius: 5px;
    letter-spacing: 1.15px;
}
.templategameTile {
    height: 280px;
    width: 100%;
    position: relative;
    padding: 0.5em 1em 1em 1em;
    text-align: center;
    border-radius: 0.8em;
    max-width: 25em;
    box-shadow: 0px 0px 15px gray;
    display: flex;
    flex-direction: column;
    background-color: white;
    box-shadow: 2%;
    margin: 2.5%;
}
