.homegameTile {
    height: 400px;
    padding: 0.5em 1em 1em 1em;
    text-align: center;
    border-radius: 0.8em;
    width: 300px;
    display: fixed;
    background-color: white;
    box-shadow: 50%;
    margin: 2.5%;
    background: whitesmoke;
    border-radius: .5rem;
    text-align: center;
    padding:3rem 2rem;
    box-shadow:  0px 0px 30px gray;
    transition: .2s linear;
}

.homegameTile:hover{
    box-shadow: 0rem -0.05rem 0.5rem white;
    outline-offset: 0rem;
    outline-color: black;
    outline: var(--outline-hover);
}

.imageholder {
    width: fit-content;
    height: 100%;
    background-size: 100% 100%;
    border-radius: '1em';
}

.showButtons {
    width: inherit;
    height: inherit;
    background: rgba(195, 195, 195, 0.8);
    display: flex;
    flex-direction: row;
    font-size: 5vh;
    justify-content: space-around;
    transition: ease-in-out 500ms;
}

.buttonHolder {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.buttonHolder :hover {
    cursor: pointer;
}



.hideButtons {
    display: none;
}